body {
    background-image: url("Arday-gabdho-ah.jpg"), url("Arday-gabdho-ah.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    appearance: 50%;
  }