* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html, body {
font-family Roboto, sans-serif, arial;
font-size: 16px;
color: #0174b5;
}
.container {
width: 1300px;
margin: 0px auto;
}
.main-section {
width: 100%;
float: left;
padding: 70px 0px 70px 0px;
}
.heading {
font-size: 28px;
font-weight: 500;
border-bottom: 1px solid #46b7c1;
margin-bottom: 20px;
color: #0174b5;
}
/********* Common CSS End **********/

.header {
background: #0174b5;
padding: 1px; 
}

.header b {
background: #fff;
color: #0174b5;
padding: 5px;
font-size: 20px;
width: 80%;
}

.header marquee {
background-color: white;
font-size:36px;
color: #0174b5;
width: 80%;
margin-top: 20px;
}
/********* Header HTML CSS End **********/

.logo {
height: 150px;
}

/*Menu Section Menu Section*/
nav {
border-radius: 30px;      
float:right;
padding:10px 0px;
width: 100%;
float: left;
text-align: center;
margin-top: 10px;
}

nav a {
background-color: white;
border: 2px solid;
border-color: #0174b5;
border-radius: 30px;
color: #0174b5;
text-decoration: none;
font-size: 20px;
padding:2px 10px;
font-weight: 100;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav a:hover{
  color: white;
  background-color: green;
  font-family: 'Times New Roman', Times, serif;
  border-color: white;
}

.footer-sect a:hover{
  color: white;
  background-color: green;
  font-family: 'Times New Roman', Times, serif;
}
/********* Design Logo and Menu section CSS End **********/

.slider img {
margin-top: 150px;
width: 100%;
}
/********* Slider CSS End **********/

.gallery img {
  background-color: rgb(12, 115, 218);
  width: 24%;
  border-radius: 20px;
  padding: 2px;
}
/********* Gallery section CSS End **********/


/********* Campus, Events and Notice Board section CSS Starts **********/
.noticeboard {
  width: 48%;
  margin-right: 1%;
  float: left;
  background-color: #0174b5;
  padding: 10px;
}
.noticeboard .heading {
  border-bottom: 1px solid #0174b5;
  padding: 5px;
  color: #0174b5;
  background: white;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: bolder;
}
.noticeboard ul li {
  margin-bottom: 20px;
  width: 100%;
  float: left;
  list-style: none;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;

}
.noticeboard-date {
  background: white;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #0174b5;
  padding: 8px 12px;
  margin-right: 10px;
}

/********* Campus, Events and Notice Board section CSS End **********/


/********** School Info and Admin Info CSS Starts **********/  
.info p {
  width: 100%;
  float: left;
  font-size: 16px;
  background-color: #0174b5;
  color: white;
  padding: 30px;
  font-family: Comic Sans MS;
  border-radius: 40px;

  }
  .info img {
  width: 30%;
  border-radius: 200px;
  
  }
  .info b {
  min-width: 115px;
  float: left;
  

 }
  .info h2 {
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: bolder;
  text-align: center;
 }
/********** School Info and Admin Info CSS Ends **********/







.footer {
background-color: #0174b5;
color: white;
padding: 20px 0px;
width: 100%;
float: left;
}

.footer-logo {
width: 70%;
}

.footer-sect {
width: 100%;
float: left;
text-align: center;
margin-top: 20px;
font-family: Consola;
font-size: 15px;
}


.footer-sect a {
border: 2px solid;
border-color: white;
border-radius: 30px;
color: #0174b5;
text-decoration: none;
font-size: 20px;
padding:2px 10px;
font-weight: 100;
font-family: consolas;
color: white;
text-decoration: none;
font-size: 16px;
padding:2px 10px;
font-weight: 100;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-left: 10px;
}
/********* Footer section CSS End **********/





ul {
  
  background-color: #0174b5;
  border-radius: 10px;
  float:left;
  padding: 5px;
  width: 100%;

  text-align: center;
  margin: 5px;
}
ul a {
  margin: 10px; 
  background-color: #0174b5; 
  color: white;  
  width: 50%;
  border: solid white; 
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  padding:2px 10px;
  font-family: Comic Sans MS;

}

ul a:hover{
  color: white;
  background-color: green;;
  font-family: 'Times New Roman', Times, serif;
  border-color: white;
}
 







  